@{
  Layout = "_Layout";
}

<div class="text-center card">
  <h1 class="card-header">Word Puzzle Home</h1>
  <div class="card-body">
    <h3>Would you like to play a game?</h3>
    <p class="card-text">It's hangman. Nothing else is really going on</p>
    <a href='game/new' class="btn btn-success">New Game</a>
  </div>
</div>