@{
  Layout = "_Layout";
}

@using WordPuzzle.Models;
<div class="card mt-4">
  <h1 class="card-header text-center">The Game</h1>
  <div class="card-body">
    <p class="card-text">@Model.GuessedLetters</p>
  </div>
</div>