@{
  Layout = "_Layout";
}

@using WordPuzzle.Models;
<div class="text-center text-bg-success card">
  <h1 class="card-header">You Win</h1>
  <div class="card-body">
    <h3>The word was:</h3>
    <ul class="list-group list-group-horizontal justify-content-center">
      @foreach (char letter in Model.GetAnswer())
      {
        <li class="list-group-item card-text"><h3>@letter</h3></li>
      }
    </ul>
    <p class="mb-2 mt-4">Play again?</p>
    <a href='./new' class="btn btn-outline-light">New Game</a>
  </div>
</div>