<div class="card-body">
  <h3>The word was:</h3>
  <ul class="list-group list-group-horizontal justify-content-center">
    @foreach (char letter in Model.GetAnswer())
    {
      <li class="list-group-item card-text"><h3>@letter</h3></li>
    }
  </ul>
  <div class="row mt-3">
    <div class="col">
      <p>Play again?</p>
      <a href='./new' class="btn btn-outline-light">New Game</a>
    </div>
    <div class="col">
      <p >Return Home?</p>
      <a href='/' class="btn btn-outline-light">Home</a>
    </div>
  </div>
</div>